
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

#nav {
	padding: 20px 0px 20px 0px;
	margin: 0;
	background-color: #5940DF;
	color: white;
	width: 100vw;
	position: fixed;
	top:0px;
	a {
		font-weight: bold;
		color: white;

	// &.router-link-exact-active {
	// 		color: white;
	// 	}
	}
}
body {
	margin: 0px;;
}
.discover{
	top: 80px;
	position: absolute;
}
.home {
	margin-top: 60px;
}

.post {
	border-bottom: 3px solid #D6D0F9;
	display: flex;
}
.message{
	width: 80vw;
	display: inline-block;
	box-sizing: border-box;
	border-right: 2px solid #5940DF;
}
.newpostbutton {
	position: fixed;
	right: 10px;
	top: 15px;
}
.votecount{

}
.vote {
	width: 20vw;
	margin: auto;
}
.postDate {
	position: relative;
	width: 175px;
	font-size: 12px;
	font-weight: bold;
	color: gray;
}
.newpostcontainer{
	top: 80px;
	position: absolute;
	width: 100vw;
	bottom: 0px;
}
.posttext {
	width: calc(100% - 50px);
	height: 200px;
	border: 1px solid grey;
}
.postbutton {
	font-weight: bold;
	position: absolute;
	bottom: 25px;
	height: 30px;
	width: 80px;
	right: 20px;
	background-color: #5940DF;
	color:white;
	border-radius: 10px;
	// padding-top: 4px;
	border: none;
}
