
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

#nav {
	padding: 20px 25px 20px 25px;
	margin: 0;
	background-color: #5940DF;
	color: white;
	width: 100vw;
	a {
		font-weight: bold;
		color: white;

	// &.router-link-exact-active {
	// 		color: white;
	// 	}
	}
}
body {
	margin: 0px;;
}
.home {
	// background-color: blue;
}

.post {
	// background-color: #D6D0F9;
	border: 3px solid #D6D0F9;
	border-radius: 5px;
	width: 100%;
}
