
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

#nav {
	padding: 20px 0px 20px 10px;
	margin: 0;
	background-color: #5940DF;
	color: white;
	width: 100vw;
	position: fixed;
	top:0px;
	a {
		font-weight: bold;
		color: white;

	// &.router-link-exact-active {
	// 		color: white;
	// 	}
	}
}
body {
	margin: 0px;;
}
.discover{
	top: 80px;
	position: absolute;
}
.home {
	// background-color: blue;
	margin-top: 80px;
	// position: absolute;
}

.post {
	border-bottom: 3px solid #D6D0F9;
	width: 100%;
}
